body {
	background-color:#242A38;	 font: 16px/22px "Roboto",  sans-serif;color: #dedede;
	margin: 20px;
}
input {
	font-size: 18px;
    padding: 15px 15px;
	border-left:7px solid #66afe9;
}
.controlContainer {
	position:fixed;
	top:0px;
	padding-top:12px;
	padding-bottom:0px;
	 
}
.listContainer {
	position:fixed;
	top: 195px;
    padding: 20px 0 40px 0;
}
.buttonRow {
	margin: 30px 5px;
}
.spacing {
	background-color:orange;height:3px;margin-bottom:25px;
}
.fetchButton {
	font-size: 18px;
    padding: 15px 15px;
	width: 205px;
}
.listItem {
	margin-right:30px;
}